{% extends 'layout.html' %}
{% block title %} {{ super() }} Welcome to Dollar Deals - Dashboard {% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-3 mt-5">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Raffles</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Account</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Add Money</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Terms</a>
                </div>
            </div>
            <div class="col-9 mt-5 mb-5">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">PlayStation 4 Console</h5>
                                    <small><button class="btn btn-danger">&times;</button></small>
                                </div>
                                <p class="mb-1"></p>
                                <small>12345</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Xbox One X Console</h5>
                                    <small><button class="btn btn-danger">&times;</button></small>
                                </div>
                                <p class="mb-1"></p>
                                <small>12234</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Astros Headset</h5>
                                    <small><button class="btn btn-danger">&times;</button></small>
                                </div>
                                <p class="mb-1"></p>
                                <small>11223</small>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h1 class="text-center">Terms &amp; Conditions</h1>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut, blanditiis consequuntur delectus,
                            earum ex fuga harum itaque iure non praesentium quam, quos? Aperiam architecto aut dicta, error esse libero
                            nobis odit quae, quasi soluta sunt suscipit voluptatem voluptatibus. Ab doloremque fuga ipsa maxime nihil
                            obcaecati rem repellendus sapiente! Ad alias aliquam aut autem beatae blanditiis consequuntur culpa dicta
                            distinctio ducimus eveniet ex explicabo facere, hic in inventore iste itaque, iusto maiores mollitia nemo
                            neque non obcaecati praesentium quas quibusdam quidem quis reiciendis saepe sapiente similique sit sunt suscipit
                            tempore voluptas voluptates voluptatum! Aliquam aliquid blanditiis consequuntur id non optio quae reiciendis
                            similique sunt ut? Culpa earum fugit iste iusto molestias natus, nesciunt nobis pariatur possimus quas repellendus
                            suscipit, velit voluptatibus! Alias animi asperiores corporis distinctio earum eveniet impedit minus mollitia
                            nam neque numquam obcaecati officia porro quas, quasi quidem quisquam quos recusandae rem repellat reprehenderit
                            rerum voluptas voluptate. Aliquam autem consequuntur cum deserunt dolores esse fugit incidunt ipsum labore laborum
                            laudantium, magnam maiores nobis placeat saepe tempore unde vitae voluptatibus! Adipisci aperiam assumenda consequatur
                            consequuntur dolorem esse ex fuga, impedit inventore nesciunt pariatur perferendis possimus quidem sint suscipit? Dolorem,
                            fugit, sunt? Accusamus aliquid consequatur dolores, doloribus eius hic impedit in ipsa iste itaque iure labore laudantium
                            magni minima molestias necessitatibus nobis nostrum officia officiis optio reprehenderit sed temporibus velit voluptas voluptate.
                            Doloremque inventore ipsa iure mollitia nam nulla quibusdam, sequi veritatis! Asperiores delectus impedit maxime
                            molestias nesciunt. Architecto cupiditate doloremque enim esse, ipsa labore laudantium molestiae, nisi nobis
                            perspiciatis quo soluta vitae voluptates! Ipsum, maxime repellat? Commodi consequuntur dolorem error excepturi
                            fugiat, inventore ipsa libero minus nulla perferendis. A architecto corporis dicta eaque eius enim est, eum, iste
                            iure minus nihil nisi perferendis, quia quis sapiente similique vitae? Deleniti harum iure obcaecati porro quos.
                            Amet, architecto atque consectetur cum cupiditate error esse ex in, iusto, libero magni nihil nostrum nulla obcaecati
                            officia perferendis praesentium recusandae sit vel vitae. Cum eum harum magni numquam sunt suscipit tempora vel? Dicta
                            eligendi fuga ipsam itaque laborum, natus nostrum quia sed ut vitae! Cum cumque dignissimos eos est explicabo
                            illum libero maxime, neque, non obcaecati pariatur, sit temporibus. A ad beatae commodi culpa delectus facilis
                            id inventore laudantium magnam nihil praesentium suscipit ullam, vitae! Accusamus aspernatur at dolorem
                            doloremque eius, harum maiores, necessitatibus officiis quam qui ratione rerum sequi voluptatum. Accusantium
                            ad corporis dolor dolore dolores ex explicabo fugit, incidunt ipsa iusto laudantium neque nesciunt perferendis
                            porro praesentium sapiente voluptatem. Blanditiis consectetur enim fugit ipsa officiis reprehenderit ullam?
                            Animi asperiores ducimus eaque error nesciunt, numquam velit. Cupiditate fuga nisi possimus provident
                            totam? Ab ad, et perferendis recusandae soluta velit! Ad, distinctio exercitationem itaque mollitia placeat
                            quibusdam. Alias aut consectetur culpa dolore, et fugit incidunt iusto nemo, nihil odio, pariatur perferendis
                            qui similique sit suscipit voluptas voluptate. Aspernatur culpa deleniti doloremque esse, hic iure libero minima
                            nisi officia omnis quibusdam sed sunt temporibus. Assumenda, aut, porro. Aliquam architecto asperiores aut beatae
                            dolor eius, error eveniet non nulla provident quas quasi quisquam ratione, reiciendis repellat rerum tempora veniam
                            vero voluptas voluptates? Accusantium aliquam cum cupiditate deleniti dicta distinctio dolorum eligendi ex explicabo
                            fugiat ipsum laboriosam nam, necessitatibus nemo numquam porro, possimus provident quas quia quis soluta sunt tempora
                            tenetur unde vero vitae voluptatum. A aliquam animi assumenda beatae commodi consequatur corporis deserunt
                            dicta distinctio dolores doloribus est eum fuga fugit minus modi nobis non nulla, pariatur porro praesentium
                            provident quia quisquam reprehenderit repudiandae sapiente similique soluta suscipit velit vitae! Aperiam ducimus
                            ex quae unde ut. A alias architecto corporis cupiditate dolorum illum mollitia natus nihil placeat quos. Aliquid
                            aspernatur consequatur deserunt, et illum incidunt iste nihil perspiciatis placeat quia rem repellendus reprehenderit
                            vel veniam voluptatibus! Ab aliquam aspernatur, culpa cupiditate debitis deleniti fuga fugiat impedit iure minus
                            necessitatibus, numquam officiis optio praesentium quibusdam recusandae repellat repudiandae, tenetur vel velit?
                            Ad amet asperiores corporis delectus dolorem impedit laborum laudantium maxime natus nesciunt odio odit, officiis
                            reiciendis rem sapiente! Animi debitis delectus et eum fuga, fugit incidunt laboriosam nam necessitatibus odio,
                            perferendis quia sapiente tenetur totam, ullam? At ipsa minima nihil perferendis quasi! Adipisci asperiores at
                            consectetur corporis deleniti distinctio, ex explicabo impedit, ipsum libero officia perferendis quaerat quam sit,
                            voluptas. A ab accusamus aliquid assumenda beatae distinctio, ducimus eligendi eos fuga incidunt ipsam ipsum labore
                            laboriosam laudantium maiores minima minus qui quis quisquam reiciendis saepe sit sunt tempora unde, vitae?
                            Accusantium alias aliquid autem corporis distinctio dolores eaque enim est facere facilis illum laboriosam
                            maxime minima modi molestias mollitia odio optio perferendis quae quibusdam, quo recusandae repellendus sequi
                            tempora unde veniam vitae. Ad aliquam aspernatur assumenda blanditiis eius fuga fugit ipsa maiores maxime
                            odit quibusdam quo, reiciendis voluptatem. Commodi ea et explicabo incidunt iusto magnam, obcaecati perferendis
                            vero! A aperiam asperiores at blanditiis corporis, distinctio dolorem dolores eos exercitationem expedita
                            in ipsa laboriosam mollitia nobis quis voluptatem voluptatum? A atque cum cumque dignissimos dolorem enim
                            excepturi iusto optio placeat voluptate! Aliquid consectetur distinctio dolorem excepturi expedita inventore
                            maxime minus praesentium qui, quisquam ratione reprehenderit tempora tenetur ut voluptas. Architecto aspernatur
                            cum dolores doloribus eius, facere necessitatibus perferendis possimus quisquam, ut vitae voluptate? Autem doloribus
                            ea earum eos maiores maxime odit recusandae rem veniam, vitae. Adipisci aperiam autem cum cupiditate deleniti deserunt
                            dignissimos dolor doloribus eum exercitationem expedita fugit ipsum laboriosam libero magni nesciunt obcaecati officia
                            officiis perspiciatis, praesentium quod reiciendis, repellat repellendus reprehenderit saepe tempore vero. At atque
                            blanditiis consequatur culpa dicta dolorem doloremque earum eligendi enim eos, esse est facere id iure labore maxime
                            modi nulla, odit quas repellendus temporibus vero voluptate. At deserunt dolores eaque earum enim eos facere fugiat
                            fugit illo impedit in ipsa molestias, nam nisi nobis obcaecati odit omnis optio perspiciatis porro praesentium qui
                            quod reiciendis rem reprehenderit sapiente sunt suscipit ullam unde vel veritatis vitae voluptatem voluptatibus?
                            Accusantium, consequuntur ex? Assumenda at cupiditate, deleniti, ducimus eos et eum harum impedit in laboriosam
                            laborum laudantium nam perspiciatis quibusdam reiciendis repellendus sequi similique temporibus vel voluptate.
                            Asperiores aspernatur cumque eos itaque iure nihil quo reprehenderit saepe voluptatem. Animi officiis soluta totam vitae?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}