<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dollar Deals |{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-center text-white">Welcome to Dollar Deals choose your page in this menu!</h5>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul>
                        <li class="nav-item">
                            <a href="/register" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> <span>MENU</span>
    </button>
  </nav>
</div>

{% block content %} {% endblock %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="google-ads-container shadow-lg mb-5"></div>
        </div>
    </div>
</div>

<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <br>
                <small class="text-center text-white">&copy; Dollar Bids LLC, 2019</small>
            </div>
            <div class="col-12 col-md-3">
                <p class="text-center text-white mt-3"><a href="/" class="text-white">Home</a></p>
                <p class="text-center text-white"><a href="/dashboard" class="text-white">Dashboard</a></p>
                <p class="text-center text-white"><a href="/contact" class="text-white">Contact</a></p>
            </div>
            <div class="col-12 col-md-3">
                <p class="text-center text-white mt-3"><a href="/register" class="text-white">Register</a></p>
                <p class="text-center text-white"><a href="/login" class="text-white">Login</a></p>
                <p class="text-center text-white"><a href="/logout" class="text-white">Logout</a></p>
            </div>
            <div class="col-12 col-md-3">
                <p class="text-center text-white mt-3">Contact</p>
                <p class="text-center text-white">+1(859)555-5555</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>